@import '../../styles';
@import '../weather/weather.component';

card{
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

lookCity{
  width: 30%;
  margin:2em 35%;
}

h1{
  text-align: center;
  font-family: 'Roboto';
}

day{
  margin:0 2em;
  font-family: 'Roboto';
}

day > img{
    width:50%;
    height: auto;
    margin:0 25%;
  }

